.home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.categories-container {
    display: flex;
    flex-direction: column;
    background-color: #ae4d4d;
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.recipes-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 80px;
    margin-top: 100px;
}


.search-engine-container {
    display: flex;
    align-items: center;
    padding: 30px;
}

#lack-recipes-mess{
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    margin-top: 300px;
}

.searchEngine-sorter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.middle-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30rem;
}

.open-dialog-button{
    height: 40px;
    width: 200px;
    font-family: "Comic Sans MS", cursive;
    font-size: 24px;
}